In [1]:
###Ejercicio clase

a= "hola a todos"
print(a)

In [3]:
a= "hola a todos"
print(a)

hola a todos

In [6]:
a= """ Hola
 como estan"""
print(a)

 Hola
 como estan

###Variables

In [ ]:
numero=4
mistring="hola"
miBool= True

In [8]:
edad=23
print("hola mi edad es: ", edad)
print("hola mi edad es: "+str(edad))#contatenar

hola mi edad es:  23
hola mi edad es: 23

In [10]:
nombre="edvin letona"
print(f"hola mi nombre es {nombre}y mi edad es: {edad}")

hola mi nombre es edvin letonay mi edad es: 23

In [11]:
salario=25000
dept="Finanzas"
miQuery= """SELECT * FROM empleado
        WHERE salario >= 25000 AND estado = Finanzas"""
print(miQuery)

SELECT * FROM empleado
        WHERE salario >= 25000 AND estado = Finanzas

In [12]:
nombre= input("ingrese su nombre: ")
print(f"hola, {nombre}, esto es pyton")

hola, edvin letona, esto es pyton

Strings

In [2]:
a="Edvin Letona"
a[0:5] #cuenta las posiciones

len(a)#contar los caracteres

12

Ejemplo

In [4]:
numero= int(input("ingrese un numero:"))
if(numero!=0):
    print("El numero no es cero")
else:
    print("El numero es cero")

El numero es cero

In [7]:
dia= int(input("Ingrese un numeor de dia"))

if(dia>=1 and dia <=7):
    if(dia==1):
        print("El dia es lunes")
    elif(dia==2):
        print("El dia es martes")
    elif(dia==3):
        print("El dia es Miercoles")
    elif(dia==4):
        print("El dia es jueves")
    elif(dia==5):
        print("El dia es viernes")
    elif(dia==6):
        print("El dia es sabado")
    elif(dia==7):
        print("El dia es domingo")
else:
    print("dia incorrecto")

dia incorrecto

LISTAS

In [9]:
lista = [10,20,30,40,50,60]

#es dinamica
#almacena diferentes tipos de datos
#es indexable

In [10]:
lista[4]

50

### Agregar nuevos elementos a la lista

In [11]:
lista.append('Data')

In [12]:
lista

[10, 20, 30, 40, 50, 60, 'Data']

In [13]:
lista.insert(3, 'ClaseInvestigacion')

In [14]:
lista

[10, 20, 30, 'ClaseInvestigacion', 40, 50, 60, 'Data']

eliminar elementos en la lista

In [15]:
del lista[3]#eliminar la posicion

In [19]:
lista

[10, 20, 30, 40, 50, 60]

In [17]:
lista.remove('Data')#elimina por valor

## Ejemplo

In [20]:
Segundos= int(input("Ingrese los Segundos"))

Hora = Segundos //(60*60)
Segundos = Segundos % (60*60)
Minutos = Segundos // (60)
Segundos = Segundos % (60)

print('Hora: {} - Minutos {} - Segundos {}'.format(Hora, Minutos, Segundos))

Hora: 1 - Minutos 0 - Segundos 0

In [21]:
from datetime import datetime

dia= int(input("intruduce el dia actual"))
mes= int(input("intruduce el mes actual"))
año= int(input("intruduce el año actual"))

dia_aniversario= int(input("introduce el dia de tu nacimiento"))
mes_aniversario= int(input("introduce el mes de tu nacimiento"))
año_aniversario= int(input("introduce el año de tu nacimiento"))

resultado_dia= dia - dia_aniversario
resultado_mes= mes - mes_aniversario
resultado_año= año - año_aniversario

print("tines", resultado_año, "años", resultado_mes, "meses", "y", resultado_dia, "dias")

tines 37 años 10 meses y 17 dias

## Python es un poderoso lenguaje programacion de alto nivel y de facil entendimiento y uso por la sintaxis bastante sencilla